# 3. Feature Engineering

In [38]:
import pickle
import pandas as pd
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import chi2
import numpy as np

In [39]:
path_df = "Data/News_dataset.pickle"

with open(path_df, 'rb') as data:
    df = pickle.load(data)

In [40]:
df.head()

,File_Name,Category,Content,id,News_length
0,Data/bbc\business\001.txt,business,Ad sales boost Time Warner profit\r\n\r\nQuart...,1,2570
1,Data/bbc\business\002.txt,business,Dollar gains on Greenspan speech\r\n\r\nThe do...,1,2259
2,Data/bbc\business\003.txt,business,Yukos unit buyer faces loan claim\r\n\r\nThe o...,1,1558
3,Data/bbc\business\004.txt,business,High fuel prices hit BA's profits\r\n\r\nBriti...,1,2412
4,Data/bbc\business\005.txt,business,Pernod takeover talk lifts Domecq\r\n\r\nShare...,1,1576

In [37]:
df.loc[1]['Content']

KeyError: 'Content'

## 1. Text Cleaning and Preparation

Berikut adalah langkah-langkah text cleaning dan preprocessing:
1. Hapus karakter khusus '\r', '\n', '"',
2. Ubah ke bentuk lowercase
3. Hapus sejumlah simbol
4. Hapus 's, misal student's name
5. Lematisasi, mengubah ke bentuk kata dasar dengan bantuan wordnet
6. Hapus stopwords

In [5]:
df['Content_Parsed_1'] = df['Content'].str.replace("\r", " ")
df['Content_Parsed_1'] = df['Content_Parsed_1'].str.replace("\n", " ")
df['Content_Parsed_1'] = df['Content_Parsed_1'].str.replace("    ", " ")

In [6]:
df['Content_Parsed_1'] = df['Content_Parsed_1'].str.replace('"', '')

In [7]:
df['Content_Parsed_2'] = df['Content_Parsed_1'].str.lower()

In [8]:

punctuation_signs = list("?:!.,;")
df['Content_Parsed_3'] = df['Content_Parsed_2']

for punct_sign in punctuation_signs:
    df['Content_Parsed_3'] = df['Content_Parsed_3'].str.replace(punct_sign, '')

In [9]:
Remove possessive pronouns
df['Content_Parsed_4'] = df['Content_Parsed_3'].str.replace("'s", "")

In [10]:
# Downloading punkt and wordnet from NLTK
nltk.download('punkt')
print("------------------------------------------------------------")
nltk.download('wordnet')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Alfiya\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
------------------------------------------------------------
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Alfiya\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [11]:
# # Saving the lemmatizer into an object
# wordnet_lemmatizer = WordNetLemmatizer()

In [15]:
# nrows = len(df)
# lemmatized_text_list = []

# for row in range(0, nrows):
    
#     # Create an empty list containing lemmatized words
#     lemmatized_list = []
    
#     # Save the text and its words into an object
#     text = df.loc[row]['Content']
#     text_words = text.split(" ")

#     # Iterate through every word to lemmatize
#     for word in text_words:
#         lemmatized_list.append(wordnet_lemmatizer.lemmatize(word, pos="v"))
        
#     # Join the list
#     lemmatized_text = " ".join(lemmatized_list)
    
#     # Append to the list containing the texts
#     lemmatized_text_list.append(lemmatized_text)

In [16]:
# df['Content'] = lemmatized_text_list

In [17]:
# Downloading the stop words list
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Alfiya\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [18]:
# Loading the stop words in english
stop_words = list(stopwords.words('english'))

In [19]:
stop_words[0:10]

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [21]:
df['Content'] = df['Content']

for stop_word in stop_words:

    regex_stopword = r"\b" + stop_word + r"\b"
    df['Content'] = df['Content'].str.replace(regex_stopword, '')

In [ ]:
df.loc[5]['Content']

In [ ]:
# df.loc[5]['Content_Parsed_1']

In [ ]:
# df.loc[5]['Content_Parsed_2']

In [ ]:
# df.loc[5]['Content_Parsed_3']

In [ ]:
# df.loc[5]['Content_Parsed_4']

In [ ]:
# df.loc[5]['Content_Parsed_5']

In [ ]:
# df.loc[5]['Content_Parsed_6']

In [23]:
df.head()

,File_Name,Category,Content,id,News_length
0,Data/bbc\business\001.txt,business,Ad sales boost Time Warner profit\r\n\r\nQuart...,1,2570
1,Data/bbc\business\002.txt,business,Dollar gain Greenspan speech\r\n\r\nThe dolla...,1,2259
2,Data/bbc\business\003.txt,business,Yukos unit buyer face loan claim\r\n\r\nThe ow...,1,1558
3,Data/bbc\business\004.txt,business,High fuel price hit BA' profits\r\n\r\nBritish...,1,2412
4,Data/bbc\business\005.txt,business,Pernod takeover talk lift Domecq\r\n\r\nShares...,1,1576

In [24]:
list_columns = ["File_Name", "Category", "Content"]
df = df[list_columns]

df = df.rename(columns={'Content': 'Content_Parsed'})

In [25]:
df.head()

,File_Name,Category,Content_Parsed
0,Data/bbc\business\001.txt,business,Ad sales boost Time Warner profit\r\n\r\nQuart...
1,Data/bbc\business\002.txt,business,Dollar gain Greenspan speech\r\n\r\nThe dolla...
2,Data/bbc\business\003.txt,business,Yukos unit buyer face loan claim\r\n\r\nThe ow...
3,Data/bbc\business\004.txt,business,High fuel price hit BA' profits\r\n\r\nBritish...
4,Data/bbc\business\005.txt,business,Pernod takeover talk lift Domecq\r\n\r\nShares...

## 2. Label Coding

Mengubah nama kategori ke bentuk angka

In [26]:
category_codes = {
    'business': 0,
    'entertainment': 1,
    'politics': 2,
    'sport': 3,
    'tech': 4
}

In [27]:
# Category mapping
df['Category_Code'] = df['Category']
df = df.replace({'Category_Code':category_codes})

In [28]:
df.head()

,File_Name,Category,Content_Parsed,Category_Code
0,Data/bbc\business\001.txt,business,Ad sales boost Time Warner profit\r\n\r\nQuart...,0
1,Data/bbc\business\002.txt,business,Dollar gain Greenspan speech\r\n\r\nThe dolla...,0
2,Data/bbc\business\003.txt,business,Yukos unit buyer face loan claim\r\n\r\nThe ow...,0
3,Data/bbc\business\004.txt,business,High fuel price hit BA' profits\r\n\r\nBritish...,0
4,Data/bbc\business\005.txt,business,Pernod takeover talk lift Domecq\r\n\r\nShares...,0

## 3. Train-Test Split

Dari total data yang ada, kita ingin pisahkan ke dalam training data dan testing data.

In [29]:
X_train, X_test, y_train, y_test = train_test_split(df['Content_Parsed'], 
                                                    df['Category_Code'], 
                                                    test_size=0.15, 
                                                    random_state=8)

In [30]:
print(len(df))
print(len(X_train))
print(len(X_test))

2225
1891
334

## 4. Text Representation

In [31]:
# Parameter election
ngram_range = (1,2)
min_df = 10
max_df = 1.
max_features = 300

In [32]:

tfidf = TfidfVectorizer(encoding='utf-8',
                        ngram_range=ngram_range,
                        stop_words=None,
                        lowercase=False,
                        max_df=max_df,
                        min_df=min_df,
                        max_features=max_features,
                        norm='l2',
                        sublinear_tf=True)
                        
features_train = tfidf.fit_transform(X_train).toarray()
labels_train = y_train
print(features_train.shape)

features_test = tfidf.transform(X_test).toarray()
labels_test = y_test
print(features_test.shape)

(1891, 300)
(334, 300)

In [33]:
from sklearn.feature_selection import chi2
import numpy as np

for Product, category_id in sorted(category_codes.items()):
    features_chi2 = chi2(features_train, labels_train == category_id)
    indices = np.argsort(features_chi2[0])
    feature_names = np.array(tfidf.get_feature_names())[indices]
    unigrams = [v for v in feature_names if len(v.split(' ')) == 1]
    bigrams = [v for v in feature_names if len(v.split(' ')) == 2]
    print("# '{}' category:".format(Product))
    print("  . Most correlated unigrams:\n. {}".format('\n. '.join(unigrams[-5:])))
    print("  . Most correlated bigrams:\n. {}".format('\n. '.join(bigrams[-2:])))
    print("")

# 'business' category:
  . Most correlated unigrams:
. market
. bank
. firm
. economy
. growth
  . Most correlated bigrams:
. last year
. year old

# 'entertainment' category:
  . Most correlated unigrams:
. TV
. best
. award
. star
. film
  . Most correlated bigrams:
. tell BBC
. Mr Blair

# 'politics' category:
  . Most correlated unigrams:
. minister
. party
. Blair
. election
. Labour
  . Most correlated bigrams:
. tell BBC
. Mr Blair

# 'sport' category:
  . Most correlated unigrams:
. club
. side
. game
. team
. match
  . Most correlated bigrams:
. say Mr
. year old

# 'tech' category:
  . Most correlated unigrams:
. Microsoft
. computer
. software
. technology
. users
  . Most correlated bigrams:
. year old
. say Mr

In [34]:
category_codes.items()

dict_items([('business', 0), ('entertainment', 1), ('politics', 2), ('sport', 3), ('tech', 4)])

In [35]:
bigrams

['tell BBC', 'said The', 'last year', 'Mr Blair', 'year old', 'say Mr']

In [36]:
# X_train
with open('Data/X_train.pickle', 'wb') as output:
    pickle.dump(X_train, output)
    
# X_test    
with open('Data/X_test.pickle', 'wb') as output:
    pickle.dump(X_test, output)
    
# y_train
with open('Data/y_train.pickle', 'wb') as output:
    pickle.dump(y_train, output)
    
# y_test
with open('Data/y_test.pickle', 'wb') as output:
    pickle.dump(y_test, output)
    
# df
with open('Data/df.pickle', 'wb') as output:
    pickle.dump(df, output)
    
# features_train
with open('Data/features_train.pickle', 'wb') as output:
    pickle.dump(features_train, output)

# labels_train
with open('Data/labels_train.pickle', 'wb') as output:
    pickle.dump(labels_train, output)

# features_test
with open('Data/features_test.pickle', 'wb') as output:
    pickle.dump(features_test, output)

# labels_test
with open('Data/labels_test.pickle', 'wb') as output:
    pickle.dump(labels_test, output)
    
# TF-IDF object
with open('Data/tfidf.pickle', 'wb') as output:
    pickle.dump(tfidf, output)